body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color:  #F3C6BD;
    padding: 44px 0 79px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.flex_center{
    justify-content: center;
}
.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    position: relative;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header_link:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3040C4;
    bottom: 0;
}

.header_link:hover{
    font-weight: bold;
}

.header_ul{
    margin-right: 77px;
}

.header_li:first-of-type{
    margin-right: 30px;
}


.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}

.button:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0f25ee;
    cursor: pointer;
    transition: 1s;
}

.about{
    padding: 77px 0 76px;
    background-color:#F4F5F7;
    margin-bottom: 30px;
}

.about_block{
    width: 555px;
    height: 102px;
}


.about_block:first-of-type{
    margin-right: 29px;
}

.about_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 10px;
}

.about_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.companies{
    margin-bottom: 106px;
}

.inbox{
    background: rgba(252, 240, 227, 1); 
    padding: 117px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;;

}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_name{
    font-weight: 700; 
    line-height: 22px; 
    color: #2B292D;
}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);   
}

.inbox_img{
    margin-right: 11px;
}

.info_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}

.info_pretitle-orange{
    color: #F1592B;
}

.info_pretitle-blue{
    color: rgba(1, 137, 209, 1);
}

.info_title{
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px;
    max-width: 462px;
}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.comunication{
    max-width: 1144px;
    margin: 110px auto 105px;
}

.comunication_benefits{
    margin-top: 105px;
    max-width: 350px;
}

.comunication_benefits:not(:last-child){
    margin-right: 30px;
}

.comunication_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 10px;
}
.comunication_text-bold{
    font-weight: 700;
}

.comunication_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
}


.understand{
    margin-bottom: 62px;
    padding: 108px 0 110px;
    text-align: center;
    background: rgba(0, 161, 198, 10%); 
}

.info_title-understand{
    margin: 24px auto 30px;
    max-width: 555px;
    letter-spacing: -0.5px;
}

.info_text-understand{
    margin: 30px auto 34px;
    min-width: 555px;
}

.button-transparent {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    margin-left: 10px;
}


.button-transparent:hover{
    background-color:white;
    color: rgba(49, 65, 197, 1);
}

.understand_grid{
    display: grid;
    grid-template-columns: repeat(4, 262px);
    gap: 30px;
    justify-content: center;
    margin-top: 111px;
    border-radius: 8px;
}

.understand_pic{
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    line-height: 28px;   
    color: #2B292D;
    padding-top: 22px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.understand_pic:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(49, 65, 197, 1);
    cursor: pointer;
    transition: 1s;
}

.understand_text{
    padding: 22px 0 33px;
}

.pic:hover{
    background: rgba(49, 65, 197, 1);
    color: rgba(255, 255, 255, 1);
    transition: 1s;
    cursor: pointer;
}

.surfaces{
    max-width: 1140px;
    margin: 90px auto 97px;
    text-align: center;
}

.info_title-surfaces{
    margin: 90px auto 26px;
    max-width: 588px;
    color: #000000;
}

.info_text-surfaces{
    margin: 26px auto 97px;
    max-width: 545px;
    color: #172342;
}

.surfaces_grid{
    display: grid;
    grid-template-columns: repeat(3, 345px);
    grid-template-rows: repeat(3, 208px);
    gap: 50px 42px ;
}

.surfaces_img:nth-child(3), .surfaces_img:nth-child(4){
    grid-row: span 2;
}

.surfaces_img>img{
    height: 100%;
}











